@font-face {
  font-family: 'NotoSansSC';
  src: URL('./Noto_Sans_SC/NotoSansSC-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: 'NotoSansSC', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-variation-settings: 'wght' 400;
  color: #616161;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 960px;
  padding: 1%;
  margin: auto;
  display: grid;

}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #616161;
}

a:hover {
  color: #616161;
}

h2, h3 {
  color: black;
}

h1 {
  font-variation-settings: 'wght' 600;
}

h2 {
  font-variation-settings: 'wght' 500;
}

img {
  height: 80px;
}

hr {
  width: 90%;
  margin-bottom: 20px;
}

#header {
  display: grid;
  justify-content: center;
}

#header > img {
  margin: auto;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.section-title {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.item {
  margin: 15px 5px;
  border-radius: 10px;
  padding: 5px;
}

.item:hover {
  background-color: #EEEEEE;
}

.item > * {
  margin: 0;
}

.item :first-child {
  display: flex;
  gap: 10px;
}

.item :first-child > img {
  height: 60px;
}