@font-face {
  font-family: 'NotoSansSC';
  src: URL('./Noto_Sans_SC/NotoSansSC-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: 'NotoSansSC', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-variation-settings: 'wght' 400;
  color: #616161;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #616161;
}

a:hover {
  color: #616161;
}

h2, h3 {
  color: black;
}

h1 {
  font-variation-settings: 'wght' 600;
}

h2 {
  font-variation-settings: 'wght' 500;
}

img {
  height: 80px;
}

hr {
  width: 90%;
  margin-bottom: 20px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}