:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #424242;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

#app {
  max-width: 960px;
  padding: 2em;
}

hr {
  width: 90%;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: #424242;
}

ul, ol {
  padding-left: 2em;
}

h2 {
  margin-top: 10px;
}

.title-img {
  height: 40px;
}

.highlight {
  color: #3F51B5;
  text-decoration: underline;
}

img.screenshot {
  height: 600px;
}